.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/fileHashes/fileHashes.bin
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/5.1.1/fileHashes/resourceHashesCache.bin
.gradle/5.1.1/javaCompile/classAnalysis.bin
.gradle/5.1.1/javaCompile/jarAnalysis.bin
.gradle/5.1.1/javaCompile/javaCompile.lock
.gradle/5.1.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
app/app.iml
app/build.gradle
