.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/fileHashes/fileHashes.bin
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/5.1.1/fileHashes/resourceHashesCache.bin
.gradle/5.1.1/javaCompile/classAnalysis.bin
.gradle/5.1.1/javaCompile/jarAnalysis.bin
.gradle/5.1.1/javaCompile/javaCompile.lock
.gradle/5.1.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
app/app.iml
app/build.gradle
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.idea/libraries/Gradle__android_arch_core_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_1_aar.xml
.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_1_aar.xml
.idea/libraries/Gradle__com_android_support_animated_vector_drawable_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_asynclayoutinflater_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3_aar.xml
.idea/libraries/Gradle__com_android_support_coordinatorlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_cursoradapter_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_customview_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_documentfile_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_drawerlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_interpolator_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_loader_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_localbroadcastmanager_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_print_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_slidingpanelayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_compat_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_ui_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_core_utils_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_fragment_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_support_vector_drawable_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_swiperefreshlayout_28_0_0_aar.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_test_runner_1_0_2_aar.xml
.idea/libraries/Gradle__com_android_support_viewpager_28_0_0_aar.xml
.gradle/5.6.4/executionHistory/executionHistory.bin
.gradle/5.6.4/executionHistory/executionHistory.lock
.gradle/5.6.4/fileChanges/last-build.bin
.gradle/5.6.4/fileContent/fileContent.lock
.gradle/5.6.4/fileHashes/fileHashes.lock
.gradle/5.6.4/fileHashes/resourceHashesCache.bin
.gradle/5.6.4/javaCompile/classAnalysis.bin
.gradle/5.6.4/javaCompile/jarAnalysis.bin
.gradle/5.6.4/javaCompile/javaCompile.lock
.idea/AAChartCore-Kotlin.iml
.idea/gradle.xml
.gradle/6.1.1/executionHistory/executionHistory.lock
.gradle/6.1.1/fileChanges/last-build.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.gradle/checksums/sha1-checksums.bin
.idea/jarRepositories.xml
build.gradle
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5_jar.xml
.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
.idea/libraries/Gradle__junit_junit_4_12_jar.xml
.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_runtime_1_3_31_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_3_31_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_3_31_jar.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_3_31_jar.xml
.gradle/6.1.1/executionHistory/executionHistory.bin
.gradle/6.1.1/fileContent/fileContent.lock
.gradle/6.1.1/fileHashes/resourceHashesCache.bin
.gradle/6.1.1/javaCompile/classAnalysis.bin
.gradle/6.1.1/javaCompile/jarAnalysis.bin
.gradle/6.1.1/javaCompile/javaCompile.lock
